<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="cd6950cd-b265-466b-bad5-52064311eed0" Publisher="CN=YY" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="cd6950cd-b265-466b-bad5-52064311eed0" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Meizi</DisplayName>
    <PublisherDisplayName>YY</PublisherDisplayName>
    <Logo>Assets\img\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Meizi.App">
      <uap:VisualElements DisplayName="看妹子" Square150x150Logo="Assets\img\Square150x150Logo.png" Square44x44Logo="Assets\img\Square44x44Logo.png" Description="福利看妹子" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\img\Wide310x150Logo.png" Square310x310Logo="Assets\img\Square310x310Logo.png" Square71x71Logo="Assets\img\Square71x71Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BackgroundTask.LiveTileTask">
          <BackgroundTasks>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>